.control {
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFF;
    border-top: 1px solid #e4e4e4;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
    position: sticky;
    max-height: 530px;
    bottom: 0;
    z-index: 1050;
}

.download-file {
    position: absolute;
    bottom: 20px;

}

.control-block {
    border-right: solid 1px silver;
    padding-right: 30px;
    padding-left: 30px;
    height: 350px;
}

.control-block-last{
    border-right: none;
}

.form-control {
height: calc(2.25rem + 2px);
}

