.modal-body-layout {
    display: flex;
    padding: 0; 
    height: 600px;
}

.modal-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFF;
    overflow-y: auto;
}

.column-help {
    flex: 2.5; 
    background-color: #fcfcfc;
    border-right: 1px solid #e4e4e4;
    min-width: 450px;
}

.column-insert {
    flex: 2;
    border-right: 1px solid #e4e4e4;
}

.column-symbols {
    flex: 1.5;
}

.custom-modal-height {
    min-width: 1400px;
    height: 750px;
}
